@model IEnumerable<_540GPWorkingBuild.Models.Sale>

@{
    ViewBag.Title = "Sales";
}

<h2>Sales Home Page</h2>
<p>Sales and Returns - <b>Written by Luke</b></p>

<p>
    @Html.ActionLink("New Sale", "NewSale")
</p>
<p>
    @Html.ActionLink("Return", "ReturnTransactionView", "SaleDetails")
</p>
<p>
    @Html.ActionLink("Transaction Lookup", "TransactionLookup")
</p>
