@model IEnumerable<_540GPWorkingBuild.Models.Sale>

@{
    ViewBag.Title = "Sales";
}

<h2>Sales Home Page</h2>
<p>Sales and Returns - <b>Written by Luke</b></p>
<h3>Requirements</h3>
<ul>
    <li>Create landing page based from mockup</li>
    <li>New Sale, Return, Transaction Lookup</li>
    <li>Reference SRS/Proposal/Mockups for complete guidelines and functionality</li>
</ul>


<p>
    @Html.ActionLink("New Sale", "NewSale")
</p>
<p>
    @Html.ActionLink("Return", "Return")
</p>
<p>
    @Html.ActionLink("Transaction Lookup", "TransactionLookupView", "SaleDetails", new { @class = "transaction-landing-page" }, null)
</p>
