
@{
    ViewBag.Title = "Main Menu";
}

<h2>Main Menu</h2>
<p><b>This is the landing page - design to follow</b></p>
<blockquote>
    POSimple is designed to aidsmall to mid-size businesses in managing sales interactions
    for their unique customer base. It represents a small software suitthat is capable of conducting
    sales transactions, supporting inventory management and customer organization, and providing sales
    reporting centered on product and employee performance.
</blockquote>
<h4>Software Proposal</h4>
<ul>
    <li>Customer management</li>
    <ul>
        <li>View, add, delete, and edit customers</li>
        <li>Access historical reports based on customer’s purchase history</li>
    </ul>
    <li>Inventory management</li>
    <ul>
        <li>View, add delete, and edit products</li>
        <li>Keep track of inventory in real-time</li>
    </ul>
    <li>Transaction managment</li>
    <ul>
        <li>Process new orders</li>
        <li>Manage current orders</li>
        <li>View previously fulfilled orders</li>
    </ul>
    <li>Sales Reporting</li>
    <ul>
        <li>See which products perform best based on both sale margin and volume</li>
        <li>View historical sales data based on a given time frame</li>
    </ul>
    <li>Employee Permissions</li>
    <ul>
        <li>High level employees can be given all-access to data permissions allowing them to edit, and delete</li>
        <li>Low level employees can be given limited access to data permissions allowing them to view data but not add, edit, or delete anything</li>
        <li>Session Variables</li>
    </ul>
</ul>
<p><b>Reference Mockups/SRS for full required functionality</b></p>



