@model _540GPWorkingBuild.Models.Sale

@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>
<p>Reports - <b>Written by Adam</b></p>
<h3>Requirements</h3>
<ul>
    <li>Create landing page based from mockup</li>
    <li>See which products perform best based on both sale margin and volume</li>
    <li>View historical sales data based on a given time frame</li>
    <li>Reference SRS/Proposal/Mockups for complete guidelines and functionality</li>
</ul>
<h3>MTK Reports</h3>
<ul>
    <li>
        <div>
            @Html.ActionLink("Store Performance Reports", "StoreReport")
        </div>
    </li>
    <li>
        <div>
            @Html.ActionLink("Employee Performance Reports", "EmployeeReport")
        </div>
    </li>
    <li>
        <div>
            @Html.ActionLink("Product Performance Reports", "ProductReport")
        </div>
    </li>
</ul>
