
@{
    ViewBag.Title = "Products";
}

<h2>Product Management</h2>

<ul>
    <li>  @Html.ActionLink("Create product", "Create", "Inventories", new { @class = "inv-landing-page" }, null)</li>
    <li>View products</li>
    <li>Lookup product</li>
</ul>